.bg-orange {
    background-color: #dc7035;
}

.bg-success-light {
    background-color: #1987544f;
}

.bg-light-gray {
    background-color: rgb(232, 232, 232);
}

.text-orange {
    color: #dc7035;
}

.text-bg-orange {
    background-color: #dc7035;
}
